.App {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.App p {
  margin-top: 20px;
  font-size: 10px;
}

.App-header {
  height: 20vh;
  width: 90%;

  margin: 20px 0 50px 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  width: calc(90% + 16px);
  display: flex;
}